/ssbbs/nbproject/private/
/ssbbs/build/
/sadriaSocity/nbproject/private/
/sadriaSocity/build/
/sadriaSocity/dist/
/E-commerce-shopping/nbproject/private/
/E-commerce-shopping/build/
/E-commerce-shopping/dist/
/jsfEvidence/nbproject/private/
/jsfEvidence/build/
/jsfEvidence/dist/